body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  position: relative;
}
h3 {
  transition: color 1s ease-in-out;
}
.header {
  margin-bottom:15px;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemnav {

}
.todo-list .todo {
  margin-bottom: 15px;
}
.todo-list .wrapper:hover {
  background-color: #F0F8ff;
}

.todo .wrapper{
  transition: border 1s ease-in-out;
  border-left: 5px solid slategrey;
  padding-left: 5px;
  min-height:70px;
}
.itemnav div {
  padding-left:15px;
  float: left;
  transition: border 1s ease-in-out;

}
.clearfix{
  clear-after: both;
}
.itemnav .completed_true {
  border-left: 10px solid darkgreen;
  height:10px;
  width:10px;
}
.itemnav .completed_false {
  border-left: 10px solid orangered;
  height:10px;
  width:10px;
}
.todo.completed_true .wrapper{
  & h3 {
    color: grey;
  }
  border-left: 5px solid darkgreen;
}
.todo.completed_false .wrapper{
  border-left: 5px solid orangered;
}
.todo h3 {
  margin-top:0px;
}
.todo > a{
  color:darkslategrey;
  text-decoration: none;
}
body {
  background-color: white;
  color: darkslategrey;
}
button, input, select, textarea, .button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #cccccc;
  border: none;
  color: darkslategrey;
}
.full-width {
  width: 100%;
}
.mt10 {
  margin-top:10px;
}
