body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  position: relative;
  background-color: darkslategrey;
}
h3 {
  transition: color 1s ease-in-out;
}
.header {
  margin-bottom:15px;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemnav {

}
.todo-large {
  & .wrapper {
    padding-left:10px;
  }
  font-size: 150%;
  & h3 {
    font-size: 250%;
  }
}
.todo-list {
  font-size: 100%;
}
.todo-list .todo {
  margin-bottom: 15px;
  position: relative;
}
.todo-list .todo.scheduled_true {
  & h3 {
    padding-right: 50px;
  }
}
.todo-list .wrapper:hover {
  background-color: #F0F8ff;
}
.todo .wrapper {
  transition: border 1s ease-in-out;
}
.todo-list .todo .wrapper{
  transition: border 1s ease-in-out;
  border: 1px solid lightgray;
  border-left: 5px solid slategrey;
  padding-top: 10px;
  padding-left: 5px;
  font-size:100%
}
.itemnav div {
  float: left;
  width:20px;
  height:20px;
  margin-right:5px;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
.itemnav div a div {
  width:20px;
  height:20px;
  min-height:5px;
  transition: color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
.itemnav div a.active div {
  border:3px solid darkgray;
}
.nav_completed_true {
  background-color: darkgreen;
  color: darkgreen;
  border-left: 10px solid darkgreen;
  width:20px;
  height:20px;
  min-height:20px;
}

.nav_completed_false {
  color: orange;
  background-color: orange;
  border-left: 10px solid orange;
  width:20px;
  height:20px;
  min-height:20px;
}
.nav_completed_false > div, .nav_completed_false > a, .nav_completed_false > a:hover{
  background-color: orange;
  color: orange;
}
.todo.completed_true .wrapper{
  & h3 {
    color: grey;
  }
  border-left: 5px solid darkgreen;
}
.todo.completed_false .wrapper{
  border-left: 5px solid orange;
}
.todo h3 {
  margin-top:0px;
}
.todo > a{
  color:darkslategrey;
  text-decoration: none;
}
body {
  background-color: white;
  color: darkslategrey;
}
button, input, select, textarea, .button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #cccccc;
  border: none;
  color: darkslategrey;
}
.full-width {
  width: 100%;
}
.mt10 {
  margin-top:10px;
}
.small {
  font-size: 0.7em;
}
.titlebar {
  margin-top:15px;
  margin-right: 15px;
}
.clock{
  position: absolute;
  right: 5px;
  top: 12px;
}
.logo {
  position: fixed;
  top:       5px;
  left:      15px;
  width:     auto;
  height:    25px
}
.navbar-brand {
  height: auto;
  padding: 0px;
}
.minutes-text {
  position: relative;
  left: 15px;
  top: 27px;
}

.btn_task_false {
  background-color: darkgreen;
  color: white;
  border-left: 10px solid darkgreen;
}

.btn_task_false:hover {
  color: #FFF6CC;
}

.btn_task_true {
  background-color: orange;
  border-left: 10px solid orange;
}
