<div class='todo' data-speaker-id={{model.id}}>
    <div class="wrapper">
      <h3>{{model.text}}</h3>
        <br />
      {{model.description}}
    </div>
</div>
{{#link-to 'index'}}back{{/link-to}}
