<div class="row todo-list">
  {{#each todo in model}}
      <div class='col-md-6 todo completed_{{todo.completed}}' data-speaker-id={{todo.id}}>
        {{#link-to 'todo.show' todo}}
          <div class="wrapper">
            <h3>{{todo.text}}</h3>
          </div>
        {{/link-to}}
      </div>
  {{else}}
      <li>
          No todos
      </li>
  {{/each}}
</div>
