<div class="row">
  {{#each todo in model}}
      <div class='col-md-3 todo'>
          <div class="wrapper">
            {{#link-to 'todo.show' todo}}{{todo.text}}{{/link-to}}
              <br />
              <button {{action 'destroyTodo' todo}}>
                  destroy
              </button>
          </div>
      </div>
  {{else}}
      <li>
          No todos
      </li>
  {{/each}}
</div>
