<div class="row todo-list">
  {{#each todo in model}}
      <div class='col-md-3 todo' data-speaker-id={{todo.id}}>
        {{#link-to 'todo.show' todo}}<div class="wrapper">
            <h3>{{todo.text}}</h3>
              <br />
              <button {{action 'destroyTodo' todo}}>
                  destroy
              </button>
          </div>{{/link-to}}
      </div>
  {{else}}
      <li>
          No todos
      </li>
  {{/each}}
</div>
